.elements__vector {
    width: 22px;
    height: 19px;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.elements__vector:hover {
    opacity: 0.5;
}

@media screen and (max-width: 425px) {
    .elements__vector {
        padding: 0  27px 0 0;
        
    }
}